<fieldset class="inputs extension">
  <legend>Extension</legend>
  <ol>
    <li class="field">
      <%= ff.check_box_collection :types, VcardExtension::TYPES %>
    </li>
    <li class="field">
      <%= ff.label :vcard_extension_type %>
      <%= ff.select :vcard_dictionary_id, VcardDictionary.extension_types.map{|e| [e.name, e.id]} %>
    </li>
    <li class="field">
      <%= ff.label :value %>
      <%= ff.text_field :value %>
    </li>
  </ol>
  <%= ff.hidden_field :_destroy, :value => '' %>
  <a href='#' class='remove'>Remove</a>
</fieldset>